<div>
    <a class="btn btn-primary" href="/organizations/new" role="button">Add New ORG</a>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Org Name</th>
      <th scope="col">TNI</th>
      <th scope="col">Created</th>
      <th scope="col">CRUD</th>
    </tr>
  </thead>
  <tbody>
    <% @org.each do |org| %>
    <tr>
      <th scope="row"><%= org.id %></th>
      <td><%= org.name %></td>
      <td><%= org.taxpayer_identification_number %></td>
      <td><%= org.created_at %></td>
      <td>
        <%= link_to 'Show', organization_path(org), class: "btn btn-success"%> |
        <%= link_to 'Edit', edit_organization_path(org), class: "btn btn-warning"%> |
        <%# <a class="btn btn-primary" href="/organizations/<%= org.id /edit" role="button">Edit ORG</a> %>
        <%= button_to 'Destroy', organization_path(org), class: "btn btn-danger", confirm: "Are you sure?", method: :delete %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>